:root{
    background-color:#f8f1d0 ;
    margin: 300px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
div{
    text-align: center;
}
